<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather Data</title>
</head>
<body>
<h1>Weather Data</h1>
<table border="1">
    <thead>
    <tr>
        <th>City</th>
        <th>Temperature (°C)</th>
        <th>Fetched At</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="w : ${weathers}">
        <td th:text="${w.getCityName()}"></td>
        <td th:text="${w.getTemperature()}"></td>
        <td th:text="${#temporals.format(w.getFetchedAt(), 'dd-MM-yyyy HH:mm')}"></td>
        <td th:text="${w.getStatus()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
